

body {
	margin: 0;
	padding:0;
}	

h2, p {
	margin: 10px;
}

/*ul{
	list-style-type: none;
	margin:0;
	padding:0;
	overflow: hidden;
	background-color: #333333;
}

ul li {
	float: left;
}

ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 10px;
}


ul li a:hover {
  background-color: #111111;
}*/

ul{
		list-style-type: none;
}
.nav {

	margin:0;
	padding:0;
	overflow: hidden;
	background-color: #5c85ed;
}

.nav a {
	float: left;
}

.nav a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 5px;
}


.nav a:hover {
  background-color: #bda3ff;
}

.container {
display: grid;
grid-template-columns: 2fr 1fr;
justify-items: center;
align-items: center;
padding: 3px;
}

.container div {
	padding:10px;
	margin: 5px;
}

h1, h2, h3, p, li {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}