#FamilyPage {
	background-color: #F3EAF4;
}

 h1 {
.oi-regular 
  font-family: "Oi", serif;
  font-weight: 400;
  font-style: normal;
 }
	
#IndexPage {
	background-color: #F26A8D
}

}
#AppPage {
	background-color: #E39695;


}
}

body {
	margin: 0;
	padding:0;
}	

h2, p {
	margin: 10px;
}

/*ul{
	list-style-type: none;
	margin:0;
	padding:0;
	overflow: hidden;
	background-color: #333333;
}

ul li {
	float: left;
}

ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 10px;
}


ul li a:hover {
  background-color: #111111;
}*/

ul{
		list-style-type: none;
}
.nav {

	margin:0;
	padding:0;
	overflow: hidden;
	background-color: #333333;
}

.nav a {
	float: left;
}

.nav a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 10px;
}


.nav a:hover {
  background-color: #111111;
}

.container {
display: grid;
grid-template-columns: 2fr 1fr;
justify-items: center;
align-items: center;
padding: 3px;
}

.container div {
	padding:10px;
	margin: 5px;
}